@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

body {
  font-family: "Inter", sans-serif;
}
.hero {
  @apply md:flex lg:gap-4;
}
.nav-link {
  @apply flex flex-col list-none p-0 m-0;
}
.nav-link li {
  @apply hover:text-soft-red text-very-dark-blue text-lg font-normal my-2;
}

@media (min-width: 768px) {
  body {
    @apply md:flex md:flex-col md:items-center md:justify-center md:h-full md:max-w-full;
  }
  main {
    @apply w-full xl:w-[80%];
  }

  .nav-link {
    @apply flex-row justify-end;
  }

  .nav-link li {
    @apply mx-4 my-0 text-base;
  }
}
